:root{
  --main-light:#ecf8f8;
  --main-light-text:#cfcfcf;
  --main-dark:#003049;
  --main-coral: coral;
}
/* @import 'bootstrap/dist/css/bootstrap.css'; */

body {
  margin: 0;

        font-family: 'Amiri', serif;
/* font-family: 'Cairo', sans-serif;
font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
*{
  padding: 0;
  margin: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cairo:wght@200;300&family=Tajawal:wght@200;300;500&display=swap');

.App{
  padding: 0;
  margin: 0;
  background-color: var(--main-light)
  ;
  min-height: 100vh;
  /* width: 100vw;  */
}
.links{
      display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
link{
  text-decoration: none !important;;
  color: white !important;
}
.align-items{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.navColor{
  color: var(--main-coral) !important;
}