:root{
  --main-light:hsl(180deg 46% 95%);
  --main-lighter:hsl(180deg 46% 98%);
  --main-light-text:#cfcfcf;
  --main-dark:#003049;
  --main-light-dark:hsl(201deg 31% 41%);
  --main-coral: coral;
  --main-light-gray: hsl(0deg 0% 86%);
  --main-shadow-lg:-12px 15px 38px -34px hsl(0deg 0% 0%);
  --main-cyan: cyan;
  --main-shadow: 0 0 38px -34px hsl(0deg 0% 0%);
}
/* @import 'bootstrap/dist/css/bootstrap.css'; */
.wrapper{

    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
    min-height: 100vh;
    box-shadow: 0 0 15px -5px rgba(0,0,0,.075)!important;
    display: flex;
    background: var(--main-lighter);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.h100{
  min-height: 100vh;
}
body {
  margin: 0;

        /* font-family: 'Amiri', serif; */
/* font-family: 'Cairo', sans-serif; */
 /* font-family: 'Tajawal', sans-serif; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale;  */


}
.fm-taj{
   font-family: 'Tajawal', sans-serif
}
.fm-amiri{
    font-family: 'Amiri', serif;
}
.fm-Cairo{
  font-family: 'Tajawal', sans-serif;
}
*{
  padding: 0;
  margin: 0;

}
/* @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cairo:wght@200;300&family=Tajawal:wght@200;300;500&display=swap'); */

.App{
  padding: 0;
  margin: 0;
  background-color: var(--main-lighter)
  ;
  min-height: 100vh;
  /* width: 100vw;  */
}
.home{
  margin-top: 50px;
}
.links{
      display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
link{
  text-decoration: none !important;;
  color: white !important;
}
.align-items{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.navColor{
  color: var(--main-coral) !important;
}

.grow{
      flex-grow: 1;
}
/* style classes that has to do with colors */
.tx-dark{
  color: #27495c;
}
.tx-cyan{
  color: rgb(0, 206, 206);
}
.tx-lt-dark{
  color: #5c7b8d;
}

.tx-coral{
   color: coral;
}
.bg-coral{
  background: coral;
}

.tx-white{
  color: white;
} 
.tx-b{
  font-weight: bold;
}
.tx-title{
  text-decoration: none;
  font-size: 25px;
      text-align: center;
    color: hsl(201deg 15% 55%);
    margin: 10px;
}
.b{
  font-weight: bold;
}
.f-20{
  font-size: 20px;
}
.f-25{
   font-size: 25px;
}
.f-30{
   font-size: 30px;
}
.img-sm{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px#5c7b8d69 solid;
}
/* style that has to do with forms */

.style-input{
    background: hsl(0deg 0% 100%);
    border: none;
    border: 1px hsl(201deg 8% 80%) solid;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
}
.f-grp{
      margin: 5px 0;
    padding: 3px;
    display: block;
}
.icon-img-rounded{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}