.admin-menu  {
    position: absolute;
    top: 50px;
    right: 0;
}
.admin-menu h5{
    cursor: pointer;
}
.admin-menu  .list{
position: absolute;
    width: 200px;
    right: 0;
    top: 41px;
    background: hsl(180deg 43% 95%);
    border-radius: 10px;
    list-style: none;
    font-weight: bold;
    color: var(--main-coral);
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    transform: scale(0);
}
.show-admin-menu{
    transform: scale(1) !important;
    height: fit-content !important;
    padding: 5px !important;
}
.admin-menu .list li{
    margin: 5px;
    padding: 5px;

}
.admin-menu .list li a{
    color: var(--main-dark) !important;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px #0f4663 solid;
    border-radius: 5px;

}
.admin-menu .user{
       background-color: #00304921;
    border-radius: 5px;
}