.categories {

    margin-top: -25px;
    z-index: 99;
}
.categories .category{
    background: white;
    border-radius: 10px;
    margin: 0;
    padding: 5px 10px;
    box-shadow: 0 13px 34px -20px #000000;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
        transition: all ease-in-out 0.5s;

}
.categories .overlay{
      position: absolute;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    background: #ffffff;
    visibility: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;

    }
    .categories .overlay p{
        color: coral;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;

    }
    .overlay h6{
            background: #0f4663;
    padding: 6px;
    border-radius: 5px;
    color: cyan;
    }
.categories .category:hover .cat-container{
    transition: all ease-in-out 0.s;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.categories .category:hover .overlay{
    transform: rotateY(180deg);
      visibility: visible;
}
.categories .category:hover{
      transform: rotateY(180deg);
}
 

   
.category h4{
   
    text-align: center;
    color: coral;

}
.categories .img-container{
    width: auto;
}
.categories i{
font-size: 50px;
    color: cyan;
}
.categories img{
      width: 100%;
    height: 125px;
    object-fit: cover;
}
.latest-products-title{
    text-align: center!important;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px red solid;
}

