footer{
        margin-top: 20px;
    background: var(--main-light-dark);
    color: var(--main-light);
    padding: 10px;
}

.footer-site-logo img {
width: 70px;
height: 70px;
border-radius: 10px;
}
footer li a{
    color: var(--main-light);
    text-decoration: none;
    padding: 3px;margin: 2px;
}
footer li a:hover{
    border-bottom: 1px white solid;
    text-decoration: none;
}