.latest-products{
    display: flex;
    justify-content: space-around;

}
.latest-products div{
    /* /* width :200px; */
     height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    
}

.latest-products img{
    width: 100%;
    height: 100%;
     border-radius: 7px;

}

.latest-products .overlay{
    position: absolute;
    width: 91%;
    height: 100%;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}
.latest-products .overlay:hover{
     background: #0030496b;
     content: "comething";
     border: 1px coral solid;
}

.latest-products-title{
         font-size: 30px;
    font-weight: bold;
    border-right: 5px hsl(180deg 100% 50%) solid;
    margin: 10px;
    color: hsl(16deg 100% 66%);
    padding: 5px 10px;
   
}
.overlay .shop{
    list-style: none;
    color: hsl(16deg 100% 66%);
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    bottom: 0;
    position: absolute;
     background: hsl(0deg 0% 100%);
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-80px, -80px);
    transition: all ease-in-out 0.5s;
    
    visibility: hidden;
}
.show-shop{
    transform: translate(0, 0) !important;
    visibility: visible !important;
}
.overlay h5{
    transition: all ease-in-out 0.5s;
    color: hsl(0deg 0% 100%);
    background-color: hsl(201deg 100% 14% / 75%);
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 33%;
      padding: 10px;
}