.latest-products{
   display: flex;
    justify-content: space-around;
    /* box-shadow: var(--main-shadow); */
    /* background: var(--main-light); */
    /* border: 1px hsl(180deg 46% 95%) solid; */

}
.latest-products div{
    /* /* width :200px; */
     height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    
}

.latest-products img{
     width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px;
    background: hsl(0deg 0% 100%);
    padding: 5px;
}

.latest-products .overlay{
    position: absolute;
    width: 92%;
    height: 100%;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    border-radius: 5px;
}
.latest-products .overlay:hover{
     background: #002f491e;
     content: "comething";
}

.latest-products-title{
      font-size: 32px;
    font-weight: bold;
    border-bottom: 2px hsl(201deg 22% 60%) solid;
    color: hsl(201deg 31% 41%);
    padding: 5px;
   
}
.overlay .shop{
    list-style: none;
    color: hsl(16deg 100% 66%);
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    bottom: 0;
    position: absolute;
     background: hsl(0deg 0% 100%);
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-80px, -80px);
    transition: all ease-in-out 0.5s;
    
    visibility: hidden;
}
.show-shop{
    transform: translate(0, 0) !important;
    visibility: visible !important;
}
.overlay h5{
    transition: all ease-in-out 0.5s;
    color: hsl(0deg 0% 100%);
    background-color: hsl(201deg 100% 14% / 75%);
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 33%;
      padding: 10px;
}
.latest-products header{
       position: absolute;
    top: 0;
    color: hsl(201deg 31% 41%);
    background: hsl(0deg 0% 100%);
    padding: 5px;
    width: 88%;
    border-bottom: 1px hsl(199deg 23% 78%) solid;
    display: flex;justify-content: space-between;
    /* flex-direction: column; */

}

@media only screen and (max-width: 800px) {
   .latest-products div{
     height: 250px; 
}

}