.slider{
    height: 385px;
    background: hsl(0deg 0% 100%);
    padding: 0;
    margin: auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 2px hsl(201deg 31% 41%) solid;
    border-radius: 5px;
    border: 1px var(--main-cyan) solid;
}
.slider .slide{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all ease-in-out 1s;
 }
  .product-details{
    background-color: hsl(0deg 0% 100%);
    height: 85% !important;
    width: 48% !important;
    margin: auto;
    box-shadow: var(--main-shadow);
    border: none;
    display: flex;
    align-items: center;
}

.slider .img-container{
    border-right: 2px coral solid;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .img-container img{
height: 300px;
    width: 300px;
    margin: auto;
    object-fit: contain;
 
}
.slide .product-details .brand{
    color: coral;

}
.slide .product-details .desc{
    color: hsl(207deg 27% 50%);
    padding: 5px 0;
}
.card-align{
        display: flex;
    flex-direction: column;
}
.shop-btn{
    align-self: end;
    transition: all ease-in-out 0.3s;
    width: 100px;

}
.shop-btn:hover{
    background: cyan;
     color: var(--main-dark);
;
}
.slider .buy-btn-parent{
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* /////////////////////////////// */
@media only screen and (max-width: 800px) {
    .slider{
        height: 80vh;
        /* border: none; */
    }
 .product-details{
   
    height: fit-content !important;
    width: 100% !important;
    margin: auto;
    margin-top: 5px;
}

.slider .img-container{
    border-right: none;
    height: 50%;
 
}
.slider .img-container{
        height: 50%;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.img-container img{
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: fill;

}
.slide{
    flex-direction:row-reverse;
}
}