.slider{
     height: 500px;
    background: hsl(0deg 0% 100%);
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 20px;
}
.slider .slide{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  all ease-in-out 1s;
 }
  .product-details{
    background-color: hsl(0deg 0% 100%);
    height: 75% !important;
    width: 42% !important;
    margin: auto;
    box-shadow: var(--main-shadow);
    border: none;
}

.slider .img-container{
    border-right: 2px coral solid;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{

    height: 86%;
    width: 93%;
    margin: auto;
    object-fit: cover;

}
.slide .product-details .brand{
    color: coral;

}
.slide .product-details .desc{
    color: hsl(207deg 27% 50%);
    padding: 5px 0;
}
.card-align{
        display: flex;
    justify-content: center;
    flex-direction: column;
}
.shop-btn{
     outline: none;
    border-radius: 5px;
    border: 2px cyan solid;
    background: #487288;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 5px;
    align-self: end;
    transition: all ease-in-out 0.3s;

}
.shop-btn:hover{
    background: cyan;
     color: var(--main-dark);
;
}
.slider .buy-btn-parent{
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* /////////////////////////////// */
@media only screen and (max-width: 800px) {
 .product-details{
   
    height: fit-content !important;
    width: 100% !important;
    margin: auto;
    margin-top: 5px;
}

.slider .img-container{
    border-right: 2px coral solid;
    height: 50%;
 
}
.slider .img-container{
        height: 50%;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

.img-container img{
    height: 100%;
    width: 100%;
    margin: auto;
    object-fit: fill;

}
.slide{
    flex-direction:row-reverse;
}
}