.topbar{
    top: 0;
padding: 0;
    margin: 0;
    color: var(--main-light-text);
    background: var(--main-light-dark);
    position: fixed;
    height: 50px;
    z-index: 9999;
    display: flex;
    align-items: center;
     justify-content: space-between;
    border-bottom: 1px hsl(0deg 0% 100% / 69%) solid;
}
.topbar a{
    text-decoration: none;
    user-select: none;
}
.topbar a:hover{
    color: var(--main-coral);
}
.shopping-cart{
    color: var(--main-coral);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    user-select: none;
    cursor: pointer;
     position: relative;
    transform: scale(0.9)

}
    
.shopping-cart .count{
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 17px;
    color: hsl(137deg 100% 52%);
    font-weight: bold;
}

.logo{
       color: var(--main-cyan);
    margin: 0 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}
.topbar .logo:hover{
       color: rgb(0, 204, 204);

}
 .search-parent{
    flex-grow: 1;
 }
.search{
        display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;

}

.search input{
    /* border: 1px hsl(16deg 100% 66%) solid; */
    background: hsl(0deg 0% 100%);
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    text-align: center;
    color: hsl(201deg 73% 22%);
    /* font-weight: bold; */
    word-spacing: 4px;
    outline: none;}
.search input::placeholder{
    color: rgb(70, 70, 70)
    
}
.search .drop{
      padding: 3px;
    position: absolute;
    left: -2px;
}

.drop button{
    padding: 3px;
    border: none;
    background: var(--main-coral);
    color: hsl(0deg 0% 100%);
}
.drop a{
    min-width: fit-content !important;
     color: var(--main-light-text);


}
.drop a:hover{
background: var(--main-dark);
}

.drop .list{
    min-width: fit-content !important;
    height: 300px;
    overflow-y: scroll;
    overflow-x: none;
    background: #2c3439;
    box-shadow: 0 13px 34px -20px #ffffff;
    border-radius: 10px;
}
.search .list::-webkit-scrollbar{
    width: 10px;
   
}

.search .list::-webkit-scrollbar-track{
    background: var(--main-dark)
}
 
.search .list::-webkit-scrollbar-thumb{
    background: coral;;
    border-radius: 10px;
}
 


.join-btns{
 flex-grow: 1;
}
.join-btns a{
    text-decoration: none;
    color: hsl(201deg 100% 14%) !important;
    background: hsl(180deg 46% 95%);
    padding: 3px 5px;
    border-radius: 3px;
}
