

.cart-screen .title-parent{
justify-content: center;
    align-items: center;
    display: flex;
}
.cart-screen .title{
     font-size: 30px;
    font-weight: bold;
    border-left: 5px hsl(16deg 100% 66%) solid;
    border-right: 5px hsl(16deg 100% 66%) solid;
    background: hsl(0deg 0% 100%);
    color: hsl(201deg 100% 14%);
    padding: 5px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.product{
      border-bottom: 1px hsl(201deg 100% 14% / 34%) solid;
    padding: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount{
        justify-content: center;
    align-items: center;
    display: flex;
}
.amount-control-icons{
    color: hsl(201deg 100% 14%);
    background: hsl(0deg 0% 100%);
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.amount-control-icons:hover{
   background:   hsl(201deg 100% 14%);
    color:hsl(0deg 0% 100%);

}


.cart-info{
    display: flex;
}
.cart-info h3{
    margin: 5px;
    
}

.no-products-msg{
    display: flex;
    justify-content: center;
    align-items: center;
width: fit-content;
padding: 10px;
    flex-direction: column;
    margin: auto;
}
.cart-screen img{
    width: 50px;
    height: 50px;
}
.price-info{
    width: 100%;
    margin: 0;
    /* border: 1px hsl(201deg 74% 22% / 6%) solid; */
    padding: 0 10px;
    background: hsl(201deg 100% 14%);
    border-radius: 5px;
    color: hsl(0deg 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-info ul{
 list-style: none;
    margin: 7px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px hsl(0deg 0% 100%) solid;
    padding: 5px;

}
.check-out-btn{
      outline: none;
    border-radius: 5px;
    border: 1px hsl(180deg 100% 50%) solid;
    background: hsl(201deg 100% 14%);
    color: hsl(0deg 0% 100%);
    font-weight: bold;
    width: 100px;
    transition: all ease-in-out 0.3s;
}
.check-out-btn:hover{
    background:hsl(180deg 100% 50%);
    color:hsl(201deg 100% 14%);
}
.a{
    text-decoration: none !important;
}