.single-product-details{
    min-height: 100vh;
    margin: auto;
    padding-top: 60px ;
}
.single-product-details>h1{
        text-align: center;
    color: var(--main-coral);
    font-weight: bold;
}
.single-product-details .big-image{
        background: white;
    border-radius: 5px;
}
.single-product-details .big-image img{
        height: 350px;
    width: 100%;
    object-fit: contain;
    margin: auto;
}
.single-product-details .small-images{
      display: flex;
    justify-content: center;
    margin: 10px auto;
    background: rgba(236, 236, 236, 0.31);
    padding: 5px 20px;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    overflow-x: scroll;
}

.single-product-details .small-images::-webkit-scrollbar-track{
background-color: hsl(0deg 0% 84%);
    border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
.single-product-details .small-images::-webkit-scrollbar{
    height: 10px;
 }
.single-product-details .small-images::-webkit-scrollbar-thumb{
   background-color: var(--main-coral);
       border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

}
.single-product-details .small-images img {
    height: 80px;width: 130px;
    object-fit: contain;
    border-radius: 5px;
    background: hsl(0deg 0% 100%);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    margin: 5px;
    box-shadow: -12px 15px 38px -34px hsl(0deg 0% 0%);
}
/* .single-product-details .small-images img:first-child{
    margin-right: 23px;
    } */
.single-product-details .small-images img:hover{
   transform: scale(1.1);
}
.single-product-details .menu{
        height: fit-content;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.menu .number-of-items{
background: hsl(201deg 31% 41%);
    width: -moz-fit-content;
    width: fit-content;
    color: hsl(0deg 0% 100%);
    flex-direction: column;
    transform: scale(0);
    border-radius: 5px;
    padding: 0;
    margin: auto !important;
    transition: all ease-in-out 0.5s;
 }
.menu .number-of-items li{

    cursor: pointer;
    padding: 0 5px;
    margin: 5px 0;
     list-style: none;
    
}
.menu .show-numbers{
    transform: scale(1);
    height: fit-content;
    overflow: hidden;
    padding: 5px;
}

.single-product-details .menu ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px hsl(0deg 0% 50%) solid;
    border-radius: 5px;
}
.main-info{
    padding: 5px;
    border: 1px rgb(211, 255, 255) solid;
    margin: 5px;}

.single-product-details .menu select{
    padding: 5px;
    border-radius: 5px;
    background: var(--main-coral);
    color: hsl(0deg 0% 100%);
    font-weight: bold;
    margin: auto;
    outline: none;
    cursor: pointer;
    width: 101px;
}
.single-product-details  option{
    width: 100px;
     padding: 5px;
     font-weight: bold;
     margin: 5px;
}
 .number-of-items option:hover{
   background: var(--main-coral);
   color: white;
 
}

.single-product-details .actions{
        align-items: center;
    flex-direction: column;
    width: 100%;

}
.single-product-details .actions li{
    margin: 5px;
    padding: 5px 10px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;

}
.single-product-details .actions .add-more{
    background: #ff7f50;
    
}
.single-product-details .actions .purchase{
    background: #00f639;

}
/* /////////////////////////////////////// */
/* @media (max-width: 650px){
.single-product-details .small-images  {
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0 ;
    background: white ;
    border-right: 1px var(--main-coral) solid;
    border-radius: 0 ;
}} */
